@charset "ISO-8859-1";

body{
	background-color : #7ab4eb;
}
h1{
	font-style:italic;
}
p{
	color:#fa002e;
	font-size:20px;
}
table, th, td {
  border: 1px solid black;
}
table {
	
  border: 8px solid #400040;
}
a{
	color:#03000d;
}